.user-comment {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--body-font-color);
    padding: 1rem;
    width: 250px;
}

.user-comment-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {

    .user-comment {
        width: 300px;
    }
}

@media (min-width: 1024px) {

    .user-comment {
        width: 350px;
    }
}