.mini-gallery {
    display: grid;
    align-items: center;
    row-gap: 1rem;

    & header {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.mini-gallery:first-of-type {
    svg {
        fill: var(--yellow);
    }
}

.mini-gallery:last-of-type {
    svg {
        fill: var(--red-600);
    }
}