:root {
    --loading-light: oklch(0.96 0.0043 228.81);
    --loading-dark: oklch(0.85 0.0176 229.03);
}

#skeleton-img,
.skeleton-text p {
    animation: skeleton-loading 1s linear infinite alternate;
}

#skeleton-img {
    height: 419px;
    width: 300px;
    border-radius: var(--form-border-radius);
}

#skeleton-article {
    height: 535px;
    width: 312px;
    border-radius: var(--form-border-radius);
    padding-block: 1rem;
}

.skeleton-text {
    display: grid;
    place-items: center center;
    padding: 1rem;

    & p {
        width: 100%;
        height: 2rem;
        border-radius: var(--form-border-radius);
    }
}

/* Animations */
@keyframes skeleton-loading {
    0% {
        background-color: var(--loading-dark);
    }

    100% {
        background-color: var(--loading-light);
    }
}

/* Media Queries */

@media (min-width: 768px) {

    #skeleton-article {
        width: 358px;
    }
}

@media (min-width: 1024px) {

    #skeleton-article {
        height: 480px;
        width: 475px;
    }
}