/* Body */

#root:has(main.home-page) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.home-page>div {
  display: grid;
  text-align: center;
  padding-inline: 1rem;
  transition: all var(--transition);

  & p {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {

  main.home-page>div {

    & h1 {
      font-size: 2rem;
    }

    & p {
      font-size: 1.2rem;
      overflow: hidden;
      margin: 0 auto;
      white-space: nowrap;
      animation: typewriter 4s steps(105, end);
    }
  }
}

@media (min-width: 1024px) {

  main.home-page>div {

    & p {
      animation-duration: 8s;
    }
  }
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@media (prefers-reduced-motion) {
  main.home-page>div {

    & p {
      animation: none;
    }
  }
}